/* CSS General reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* Variables */
:root{
   /* Colors */
   --color-primary: black;
   --color-secondary: white;
   --color-cta: #ffc400;
   --color-bg: white;
   --color-bg-nav: #333;
   --color-headings: black;
   --color-body-text: black;
   --color-semitransparent: rgb(0,0,0,0.5);
   --color-shadow: gray;
   --color-semitransparent: rgb(0,0,0,0.5);
   --color-shadow: gray;

 
   /* use this variable for background not background-color */
   --color-gradient: linear-gradient(90deg, rgba(199,58,110,1) 0%, rgba(255,109,42,1) 100%);
 
   /* Fonts */
   --font-headings: "Playfair", sans-serif;
   --font-headings: "Playfair", sans-serif;
   /* Spacing */
   --spacing-sm: 10px;
   --spacing-md: 20px;
   --spacing-lg: 30px;
   --spacing-x-lg: 40px
   --spacing-xx-lg: 50px;
 }

html{
  /* Set root font-size for rem to 62.5% to change the font-size default value to 10px. */
  font-size: 62.5%;
}
  
/* General styles  */
    body {
        font-family: var(--font-headings);
        line-height: 1.6;

        /* 1rem = 10px */
        font-size: 1.6rem;
      }

      /* Typography - mobile */
h1 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.0625rem;
  font-weight: bold;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.067;
  letter-spacing: -0.05rem;
  font-weight: bold;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.083;
  letter-spacing: -0.0375rem;
  font-weight: bold;
}

p, span, b, i, strong, em, a, li {
  font-size: 1.2rem;
}

button {
  font-size: 1.35rem;
}

       
      /* Navigation bar */
      header {
        background-color: var(--color-bg-nav) ;
        padding:var(--spacing-sm)
      }
       
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-secondary);
      }
       
      .logo {
          font-size: 1.5rem;
      }
       
      .menu {
          /* Hidden on mobile devices */
          display: none;
      }
       
      .menu a{
        text-decoration: none;
        color: var(--color-secondary);
        padding-right:var(--spacing-md);
      }

      .manue a:hover {
        color: var(--color-cta);
        font-weight: bold;
      }
      
      .burger-menu {
          font-size: 2rem;
          cursor:pointer;
          /* Dosplay on mobile devices */
          display: block;
      }
      
      .mobile-menue {
        display: none;
        background-color: var(--color-bg-nav);
        padding: var(--spacing-sm);
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 1;
      }

      .mobile-menue a {
        display: block;
        color:var(--color-secondary);
        padding: var(--spacing-sm);
        text-decoration: none;
      }

      /* Hero Section  */
      #hero {
        position: relative;
        text-align: center;
      }
      .hero-image{
        width: 100%;
        height:auto;
      }

      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     color: white;
      }
    .cta-button {
        padding: var(--spacing-sm) var(--spacing-md);
        background-color: var(--color-cta);
        color: var(--color-secondary);
        border: none;
        cursor: pointer;
}
/* Sections */
section {
padding: var(--spacing-x-lg) var(--spacing-md);
text-align: center;
}
.web-card {
    display: flex;
    /* Stack cards vertically on mobile  */
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
}

.card {
    background-color:var(--color-bg-nav);
    flex-basis: 100%;

    width: 100%;
     max-width: 30rem;
    border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: var(--color-semitransparent);
  box-shadow: 0rem 0rem 3rem var(--color-shadow);
  margin: 2rem;
}

.card img {
  max-width: 30rem;
  border-radius: 2rem 2rem 0 0;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
   display: block;
  max-width: 100%;
   display: block;
 max-width: 100% ;
}

.info {
  text-align: left;
  padding: 1rem 2rem;
}

.small-card {
    flex: 1;
}

.large-card{
    flex: 2;
}

.first-card {
  color: var(--color-cta);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
/* Footer  */
    footer {
        background-color:var(--color-bg-nav);
        color: var(--color-secondary);
        padding: var(--spacing-md);
        text-align: center;
    }

.footer-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.social-media img {
      margin-right: var(--spacing-md);
      filter: invert(100%) ;
      -webkit-filter: invert(100%) ;
}

/* Cookie Popup  */
.cookie-popup {
    position: fixed;
    bottom: 0;
    background-color: var(--color-bg-nav);
    color: var(--color-secondary);
    width: 100%;
    padding:var(--spacing-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-popup button {
padding: var(--spacing-sm);
background-color:var(--color-cta);
color: var(--color-secondary);
border: none;
cursor: pointer;
}

/* Carousel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 100%;
  display: none;
}

.carousel-slide img.active {
  display: block;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.carousel-navigation .prev,
.next {
  color: red;
}

.carousel-navigation button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.carousel-bullets .bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: lightcoral;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-bullets .bullet.active {
  background-color: red;
}

/* Video  */
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  /* Align the video in the middle of the page (horizontaly) */
  margin: 0 auto;
}


/* Responsive style  */
/* Media query-tablets & desktop */
@media (min-widh:768px ){
    .menu {
        display: block;
    }
}

.burger-menu {
    /* Hidden on tablet and desktop */
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .web-cards {
    /* Horizontal layout on larger screens */
    flex-direction: row;
  }

  .card {
    max-width: 30%;
  }
/* Typography - tablet & desktop */
h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.111;
  letter-spacing: -0.0125rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  line-height: 1.125;
  letter-spacing: -0.00625rem;
  font-weight: bold;
}

p, span, b, i, strong, em, a, li {
  font-size: 1.2rem;
}

button {
  font-size: 1.35rem;
}
